:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --header-logo-height: 1.6875rem;
  --header-block-padding: 16px;
  --header-inline-padding: 22px;

  --header-size: calc(
    var(--header-logo-height) + (var(--header-block-padding) * 2)
  );
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}
