:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --screen-padding-inline: 32px;
  margin: 0;

  /* Temporary until we will have translation manager */
  direction: rtl;
}

#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}
