:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  --header-logo-height: 1.6875rem;
  --header-block-padding: 16px;
  --header-inline-padding: 22px;
  --header-size: calc(
    var(--header-logo-height) + (var(--header-block-padding) * 2)
  );
  --text-color: #1a1a1a;
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--text-color);
}

#root {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}
